In [ ]:
# 'https://drive.google.com/file/d/1XjNIpICZFUknNQ7Pc9m4aeXr_F310vEO/view?usp=sharing'  dataset link

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':'1XjNIpICZFUknNQ7Pc9m4aeXr_F310vEO'}) # replace the id with id of file you want to access
downloaded.GetContentFile('data.csv')

In [ ]:
# import libearies
import numpy as np
import pandas as pd
from collections import Counter 
from datetime import datetime
import re
import itertools

In [ ]:
data=pd.read_csv('data.csv',low_memory=False)#reading the dataset

#### Here I use nested function concept
#### It would have been much simpler if I had permission to use the class

In [ ]:
def selector(char_num):
#     objective :for each categorical columns calculate which have numerical value
#       return :1. characters_only: column which have only character column
#               2. not_available: numerical columns nan values as 'not available'
#               3. charcters_non_characters: data which have both numerical and categorical value in one column
    characters_only=[]
    charcters_non_characters=[]
    not_available=[]
    for col in char_num.columns:#iterate categorical columns
        groups=[]
        for i in data[str(col)].value_counts().index.values:#for each categorical column fond the unique values
            find_no=re.search(r'\d+',i)#match numerical values
            if find_no is None:#if doesnot have numerical values 
                groups.append('char_only')#if find 'char_only' at that place append those values
            else:
                groups.append(find_no.group(0))#if find numerical values append those values
                
        if all(char == 'char_only' for char in groups):#if all data have 'char_only'
            characters_only.append(col)#make that column as character
        #in some numerical columns nan values as 'not available'
        #if we take the unique values of that column 'not availble' will get count for only once
        # algo will find it as charcter and count it only for once
        elif(Counter(groups)['char_only']==1):#column which have only one count  
            replace_item=data[col].value_counts().index.values[0]
            data[col]=data[col].replace(replace_item,np.nan)#replace not available with np.nan
            not_available.append(col)
        #finally data which have both character and numerical value for multiple time will get append to 'charcters_non_characters'list
        else:
            charcters_non_characters.append(col)
    return characters_only,not_available,charcters_non_characters

In [ ]:
def char_chep(col_list):
#     objective :extract numerical data from dataset which are having characters and non characters together and have not avilable columns
#       return 1.extract only ctaegorical column from which column are having categorical and numerical together
#       return 2:extract only numerical column from which column are having categorical and numerical together
    char_dat=[]
    num_dat=[]
    for x in col_list:
        groups=[]
        for i in data[str(x)].value_counts().index.values:#for each column fond the unique values
            # check wheater the columns have values like,eg:'$1,234','100m^2  ','12,345'
            d=re.search(r'(^-?[\$|€|¥|£|A\$|C\$|CHF|元|HK\$|NZ\$|kr|₩|S\$|kr|\$|₹|₽|R|₺|R\$|NT\$|kr|zł|฿|Rp|Ft|Kč|₪|CLP\$|₱|د.إ|COL\$|﷼|RM|L][\d,\.]+$)|(^-?[\d,?\.?]+[a-zA-Z0-9]*$)',i)
            if d is None:#if doesnot have numerical values 
                groups.append('num_none')#if dont match with regex append 'num_none' at that place
            else:
                groups.append(d.group(0))#if match with string append match string at that place
        if any(char == 'num_none' for char in groups):# select only those column if any value doesnot match with regex
            char_dat.append(x)
        else:
            data[x]=data[x].apply(lambda l:re.sub(r'[^\d]+','',str(l)))# substitute the chracter values eg:'$1,234'to 1234,'100m^2'to 100
            data[x]=data[x].replace('',np.nan)#some column already had none values replace to np.nan
            num_dat.append(x)
        
    return char_dat,num_dat

In [ ]:
#inputs: 1.dataset=DataFrame
#        2.max _threshold=if the column have outliers,percent of data you want to keep as outlier
def detect_outlier(dataset,max_threshold=None):
    numerical_data=dataset.select_dtypes(include=np.number)# select numerical columns only
    char_num_data=dataset.select_dtypes(exclude=np.number)# selectcategorical columns only
    char_only_data,num_data1,num_data2=selector(char_num_data)# call selector function
    
    characters_only,numericals_only=char_chep(num_data2+num_data1)# call char chep function input:'not available'+categorical and numerical columns
    characters_only=characters_only+char_only_data
    
    cat_data=data[np.asarray(characters_only)]# final dataframe of characters only
    num_data=pd.concat([data[np.asarray(numericals_only)],numerical_data],axis=1)# final dataframe of numericals only
    
    num_data=num_data.astype('float32')#convert numerical data to float data
    
    # Outlier detection ,method:inter quartile range
    # create an iterator if algo removes more than the max_threshold percent expand inter quartile range
    for i in itertools.count(1):
        strt_time = datetime.now()
        indexes=np.array([])
        for x in num_data.columns:
            mini=num_data[x].min()#minimum value of that column
            maxi=num_data[x].max()#maximum value of that column
            first_quartile=num_data[x].describe()['25%']
            third_quartile=num_data[x].describe()['75%']
            iqr=third_quartile-first_quartile# calculate iqr
            if iqr!=0.0:
                Lower_Bound=(first_quartile - (iqr*1.5*i))
                Upper_Bound=(first_quartile +  (iqr*1.5*i))
                if (Upper_Bound<maxi) and (mini>Lower_Bound):# if bigger values contain outliers
                    indexes=np.concatenate((indexes,np.where(num_data[x]>Upper_Bound)[0])).astype(int)
                elif (Upper_Bound>maxi) and (mini<Lower_Bound):# if smaller values contain outliers
                    indexes=np.concatenate((indexes,np.where(num_data[x]<Lower_Bound)[0])).astype(int)
                elif (Upper_Bound<maxi) and (mini<Lower_Bound):# if both smaller and bigger  values contain outliers
                    indexes=np.concatenate((indexes,np.where((num_data[x]>Upper_Bound) &(num_data[x]<Lower_Bound))[0])).astype(int)
                else:
                    continue
            else:
                continue
        if(len(indexes)<((num_data.shape[0]*max_threshold)/100)):#if numer of otliers are smaller than max_threshold
            num_data.drop(index=indexes,axis=0,inplace=True)# drop otliers
            return num_data
        else:
            end_time = datetime.now()
            print(f'To many outlers ,iter {i} time {end_time-strt_time} ')
            continue

In [ ]:
da=detect_outlier(data,10)
da

To many outlers ,iter 1 time 0:00:00.165030
To many outlers ,iter 2 time 0:00:00.162147
To many outlers ,iter 3 time 0:00:00.160226
To many outlers ,iter 4 time 0:00:00.153455
To many outlers ,iter 5 time 0:00:00.169630
To many outlers ,iter 6 time 0:00:00.155800
To many outlers ,iter 7 time 0:00:00.157549
To many outlers ,iter 8 time 0:00:00.156863
To many outlers ,iter 9 time 0:00:00.158155
To many outlers ,iter 10 time 0:00:00.154059
To many outlers ,iter 11 time 0:00:00.169643
To many outlers ,iter 12 time 0:00:00.158674
To many outlers ,iter 13 time 0:00:00.160466
To many outlers ,iter 14 time 0:00:00.157245
To many outlers ,iter 15 time 0:00:00.161735
To many outlers ,iter 16 time 0:00:00.155169
To many outlers ,iter 17 time 0:00:00.174014
To many outlers ,iter 18 time 0:00:00.163138
To many outlers ,iter 19 time 0:00:00.175789
To many outlers ,iter 20 time 0:00:00.171254
To many outlers ,iter 21 time 0:00:00.159576
To many outlers ,iter 22 time 0:00:00.153723
To many outlers ,iter 23 time 0:00:00.171968
To many outlers ,iter 24 time 0:00:00.160812
To many outlers ,iter 25 time 0:00:00.162816
To many outlers ,iter 26 time 0:00:00.155511
To many outlers ,iter 27 time 0:00:00.158843
To many outlers ,iter 28 time 0:00:00.152509
To many outlers ,iter 29 time 0:00:00.158661
To many outlers ,iter 30 time 0:00:00.160399
To many outlers ,iter 31 time 0:00:00.172983
To many outlers ,iter 32 time 0:00:00.155205
To many outlers ,iter 33 time 0:00:00.159892
To many outlers ,iter 34 time 0:00:00.155816
To many outlers ,iter 35 time 0:00:00.162190
To many outlers ,iter 36 time 0:00:00.162195
To many outlers ,iter 37 time 0:00:00.160197
To many outlers ,iter 38 time 0:00:00.153359
To many outlers ,iter 39 time 0:00:00.164212
To many outlers ,iter 40 time 0:00:00.154548
To many outlers ,iter 41 time 0:00:00.157797
To many outlers ,iter 42 time 0:00:00.157830
To many outlers ,iter 43 time 0:00:00.170893
To many outlers ,iter 44 time 0:00:00.157647
To many outlers ,iter 45 time 0:00:00.157954
To many outlers ,iter 46 time 0:00:00.163680
To many outlers ,iter 47 time 0:00:00.158102
To many outlers ,iter 48 time 0:00:00.156133

       Parent Property Id  ...  Census Tract
2                 28400.0  ...         251.0
3                 28400.0  ...         255.0
4                 28400.0  ...         255.0
6                 28402.0  ...         124.0
12              2637863.0  ...           NaN
...                   ...  ...           ...
11741                 NaN  ...         502.0
11742                 NaN  ...           7.0
11743                 NaN  ...           NaN
11744                 NaN  ...         165.0
11745                 NaN  ...         199.0

[10810 rows x 34 columns]

In [ ]:
# Dataset should have only numerical values
# For convienience I will use the dataframe from outlier detection 
def correlation_finder(dataset):
  
  corr=abs(dataset.corr(method='pearson'))# Find correlation
  corr=corr.unstack().reset_index() # making row and column as separate feature
  corr.columns=['Feature1','Feature2','Correlations']
  remove_self_duplicates=corr[corr.Feature1!=corr.Feature2]# remove those columns which have (corr=1) with same value
  columns_to_drop=remove_self_duplicates[remove_self_duplicates['Correlations']>0.85].sort_values(by='Correlations',ascending=False)[::2].Feature2.unique().tolist()# columns having more than 0.85 correlations
  dataset.drop(columns=columns_to_drop,axis=1,inplace=True) # drop columns
  return dataset

In [ ]:
output=correlation_finder(da)
output

       3rd Largest Property Use Type - Gross Floor Area (ft²)  ...  Census Tract
2                                                    NaN       ...         251.0
3                                                    NaN       ...         255.0
4                                                    NaN       ...         255.0
6                                                    NaN       ...         124.0
12                                               18800.0       ...           NaN
...                                                  ...       ...           ...
11741                                                NaN       ...         502.0
11742                                                NaN       ...           7.0
11743                                                NaN       ...           NaN
11744                                                NaN       ...         165.0
11745                                                NaN       ...         199.0

[10810 rows x 28 columns]